<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newstate="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}To Be Eaten!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>